<!DOCTYPE html>
<html>
	<style> 
		body{text-align:center} 
	</style> 
	<body>
		<br>
		<br>
		<form action="" method="get">
	  		<table border="1" align=center>
	  			{{obj}}
	  		</table>
	  		<br>
	  		<input type="submit" value="确定" />
		</form>

	<!-- 	<form method="inputRoleID">
			{% csrf_token %} 
	  		角色ID: <input type="text" name="role_id" />
	  		<input type="submit" value="确定" />
		</form>

		<form method="chooseRoleValus">
	  		角色单一数据: <select name="role_values" >
	  			<option value = 0>查找所有数据</option>
	  		</select>> 
	  		<input type="submit" value="确定" />
		</form>
		
		<form method="chooseObjectValus">
	  		角色复合数据: <select name="role_values" >
	  			<option value = 0>查找所有数据</option>
	  		</select>> 
	  		<input type="submit" value="确定" />
		</form>

		<form method="chooseMailValus">
	  		角色邮件: <select name="role_mails" >
	  			<option value = 0>查找所有数据</option>
	  		</select>> 
	  		<input type="submit" value="确定" />
		</form> -->



	</body>
</html>