[mysql]
port = 3306 
# 设置mysql客户端默认字符集
#default-character-set=utf8[mysqld]
# 设置3306端口
# 设置mysql的安装目录
#basedir=C:/Program Files/MySQL/MySQL Server 5.7
# 设置mysql数据库的数据的存放目录
#datadir=C:/Program Files/MySQL/MySQL Server 5.7/data
# 允许最大连接数
#max_connections=200
# 服务端使用的字符集默认为8比特编码的latin1字符集
#character-set-server=utf8
# 创建新表时将使用的默认存储引擎

# 跳过密码验证
[mysqld]
#skip-grant-tables
default-storage-engine=MyISAM

#linux config
datadir=/usr/local/mysql/data
socket=/tmp/mysql.sock

[mysql.server]
user=mysql
basedir=/usr/local/mysql